{% extends "template.html" %}

{% block content %}
    <div class="row">
        <div class="p-strip">
            <h1>Hazy</h1>
            <h2>A Pebble watchface that dynamically changes colors based on your local AQI, and it works anywhere in the world!</h2>
        </div>

        <div class="row u-align--center">
            <div class="col-4">
                <img src="/img/hazy1.png" />
            </div>
            <div class="col-4">
                <img src="/img/hazy2.png" />
            </div>
            <div class="col-4">
                <img src="/img/hazy3.png" />
            </div>
        </div>

        <div class="row u-align--center">
            <div class="col-6">
                <h2>
                    <a href="https://apps.getpebble.com/en_US/application/574537f64b706803bc000002">
                        Get Hazy on your Pebble watch
                    </a>
                </h2>
            </div>

            <div class="col-6">
                <h2>
                    <a href="https://gitlab.com/bhdouglass/hazy">
                        Hazy on GitLab
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}
