{% extends "template.html" %}

{% block content %}
    <div class="row pebble">
        <div class="p-strip">
            <h1>Pebble Watchfaces</h1>
        </div>

        <div class="row">
            <div class="col-6 u-align--center">
                <h2>
                    <a href="/pebble/simply-light.html">
                        Simply Light
                    </a>
                </h2>

                <img src="/img/simply-light2.png" />
            </div>

            <div class="col-6 u-align--center">
                <h2>
                    <a href="/pebble/hazy.html">
                        Hazy
                    </a>
                </h2>

                <img src="/img/hazy2.png" />
            </div>
        </div>

        <div class="p-strip">
            <h1>Pebble Libraries</h1>
        </div>

        <div class="row">
            <div class="col-4 u-align--center">
                <h2>
                    <a href="https://gitlab.com/bhdouglass/angular-slate">Angular Slate</a>
                </h2>

                Angular bindings for the <a href="https://gitlab.com/pebble/slate">Pebble Slate</a> framework.
            </div>
            <div class="col-4 u-align--center">
                <h2>
                    <a href="https://gitlab.com/bhdouglass/pebble-helpers">Pebble C Helpers</a>
                </h2>

                Shortcuts and nice things for Pebble developers.
            </div>
            <div class="col-4 u-align--center">
                <h2>
                    <a href="https://gitlab.com/bhdouglass/pebble-template">Pebble Template</a>
                </h2>

                An opinionated Pebble app template with automatic configuration
                generation.
            </div>
        </div>
    </div>
{% endblock %}
