---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { BLOG } from '../../constants';
import Hero from '../../components/Hero.astro';
import TextSection from '../../components/TextSection.astro';

---

<BaseLayout pageTitle="Blogs by Brian Douglass" title="Brian's Blogs" description="Blogs written by Brian Douglass">
  <Hero header="Blogs by Brian Douglass" />
  <TextSection header={`<a href="/blog/tech/" class="underline">${BLOG.title}</a>`}>
    <p class="text-center">
      {BLOG.tagline}
    </p>
  </TextSection>
</BaseLayout>
