---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { TECH_BLOG } from '../../constants';

import '../../styles/blog.css';
---

<BaseLayout title="Blogs by Brian Douglass">
  <section>
    <h1>Blogs by Brian Douglass</h1>

    <div class="row mt-2">
      <h2>
        <a href="/blog/tech/">{TECH_BLOG.title}</a>
      </h2>
      <p>
        {TECH_BLOG.tagline}
      </p>
    </div>
  </section>
</BaseLayout>
