---
import BaseLayout from '../../layouts/BaseLayout.astro';

import '../../styles/blog.css';
---

<BaseLayout>
  <section>
    <h1>Blogs by Brian Douglass</h1>

    <div class="row mt-2">
      <h2>
        <a href="/blog/tech">The Voyage of a Software Developer</a>
      </h2>
      <p>
        Short posts about software enginering and open source.
      </p>
    </div>

    <div class="row">
      <h2>
        <a href="/blog/garden">The Chef, the Family and the Garden</a>
      </h2>
      <p>
        Recipes, gardening, and family related short posts.
      </p>
    </div>
  </section>
</BaseLayout>
