---
import SupportWrapper from './SupportWrapper.astro';
---

<SupportWrapper>
  <p>
    Thanks for reading my blog today. If you've gotten some value out of this article
    or any of my <a href="https://gitlab.com/bhdouglass" class="underline" target="_blank">open-source works</a>.
    Consider <a href="https://ko-fi.com/bhdouglass" class="underline">buying me a coffee</a>
    or supporting me on <a href="https://liberapay.com/bhdouglass/" class="underline">Liberapay</a>.
    Thank you!
  </p>
</SupportWrapper>
