/* Based on https://github.com/onwidget/astrowind/blob/main/src/assets/styles/base.css */

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --color-secondary-50: #fdf2f8;
  --color-secondary-100: #fce7f3;
  --color-secondary-200: #fbcfe8;
  --color-secondary-300: #f9a8d4;
  --color-secondary-400: #f472b6;
  --color-secondary-500: #ec4899;
  --color-secondary-600: #db2777;
  --color-secondary-700: #be185d;
  --color-secondary-800: #9d174d;
  --color-secondary-900: #831843;
  --color-secondary-950: #500724;

  --font-sans:
    'InterVariable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@utility btn {
  @apply inline-flex items-center justify-center rounded-md shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-gray-700 leading-snug transition py-3.5 px-6 px-7 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
}

@utility btn-ghost {
  @apply border-none shadow-none text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
}

@utility btn-primary {
  @apply font-semibold bg-primary-600 text-white border-primary-600 hover:bg-primary-800 hover:border-primary-800 hover:text-white dark:text-white dark:bg-primary-700 dark:border-primary-700 dark:hover:border-primary-900 dark:hover:bg-primary-900;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light>* {
  stroke-width: 1.2;
}

[data-aw-toggle-menu] path {
  @apply transition;
}

[data-aw-toggle-menu].expanded g>path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g>path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

pre {
  margin-bottom: 1em;
  max-height: 25em;
}

.dark #logo {
  content: url("/images/logo.dark.svg")
}

.youtube {
  margin-left: auto;
  margin-right: auto;
}

.dark .pagefind-ui__drawer, .dark .pagefind-ui__result-link {
  color: white !important;
}

html {
  height: 100%;
}
