h1 {
  margin-bottom: 1em;
}

pre {
  margin-bottom: 1em;
  max-height: 25em;
}

article img {
  max-width: 100%;
}

.card {
  --bs-card-border-width: 1px;
  --bs-card-border-color: #FFFFFF;
  --bs-card-bg: #1a2a54;
}

.list-group {
  --bs-list-group-bg: #1a2a54;
  --bs-list-group-border-color: #FFFFFF;
}

.list-group-item {
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity))
}

i.yes {
  color: #e94100;
}
