.recipe {
  --border-color: #e94100;
  --border-width: 3px;
}

.recipe {
  border: var(--border-width) solid var(--border-color);

  /** Ref: https://codepen.io/edmundojr/pen/xOYJGw */
  background:
    linear-gradient(90deg, #001140 20px, transparent 1%) center,
    linear-gradient(#001140 20px, transparent 1%) center, #1a2954;
  background-size: auto, auto, auto;
  background-size: 22px 22px;
}

.recipe .title, .recipe .ingredients, .recipe .instructions {
  padding: 1em;
}

.recipe .source {
  font-size: 0.75em;
}

.recipe .head {
  display: flex;
  flex-direction: column-reverse;
}

.recipe img {
  width: 100%;
  object-fit: cover;
  border-bottom: var(--border-width) solid var(--border-color);
}

.recipe .times {
  border-top: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
  padding: 1em;
}

@media (min-width: 768px) {
  .recipe .head {
    flex-direction: row;
    justify-content: space-between;
  }

  .recipe img {
    width: 10em;
    height: 10em;
    border-left: var(--border-width) solid var(--border-color);
    border-bottom: none;
  }

  .recipe .times {
    display: flex;
  }

  .recipe .time {
    width: 100%;
    text-align: center;
  }
}

.recipe .ingredients h3 {
  padding-bottom: 0.5em;
}

.recipe .ingredient {
  display: block;
}

.recipe .ingredient .amount {
  font-weight: bold;
}

.recipe .instructions {
  padding-top: 0;
}

.recipe .instructions ul {
  padding-left: 0;
}

.recipe .instruction::before {
  content: counter(list-item);
  background-color: var(--border-color);
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: -0.75em;
  left: 50%;
  margin-left: -0.75em;
}

.recipe .instruction {
  list-style: none;
  position: relative;
  border-top: 1px solid #f0f2f5;
  padding-top: 1.5em;
  margin-top: 1.5em;
}
