{% set page = "projects" %}
{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <a href="https://open.uappexplorer.com/">
                <img src="/img/screenshots/openstore.png" alt="OpenStore" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://open.uappexplorer.com/">OpenStore</a>
            </h3>

            <p>
                The OpenStore is the app store for Ubuntu Touch and hosts an
                ever growing selection of apps from a multitude of developers.
                It is an Angular JS frontend with a NodeJS api.
            </p>

            <a href="https://open.uappexplorer.com/">Browse</a>
            <a href="https://github.com/UbuntuOpenStore" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://uappexplorer.com/">
                <img src="/img/screenshots/uappexplorer.png" alt="uApp Explorer" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/">uApp Explorer</a>
            </h3>

            <p>
                The number 1 source for information about Ubuntu Touch Apps and
                the unofficial apps store on the web! Find out everything about
                Ubuntu Touch apps including screenshots, reviews, and more.
                uApp Explorer sports a frontend built with React and an NodeJS
                based api.
            </p>

            <a href="https://uappexplorer.com/">Browse</a>
            <a href="https://github.com/bhdouglass/uappexplorer" class="pull-right">Source</a>
        </div>
        <div class="col-sm-4">
            <a href="/pebble/simply-light.html">
                <img src="/img/screenshots/simply-light.png" alt="Simply Light" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="/pebble/simply-light.html">Simply Light</a>
            </h3>

            <p>
                Weather at a glance on your wrist! Simply Light is a highly
                customizable watchface for both Pebble and Pebble Time smartwatches.
                Development of Simply Light takes place in C for the watchface
                and JavaScript for the application logic with a configuration
                page built on AngularJS.
            </p>

            <a href="https://apps.getpebble.com/applications/5472c040c13ebf3ddf000045">Download</a>
            <a href="https://github.com/bhdouglass/simply-light" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="http://fishtank.bhdouglass.com/">
                <img src="/img/screenshots/fishtank.png" alt="Fish Tank" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="http://fishtank.bhdouglass.com/">Fish Tank</a>
            </h3>

            <p>
                Fish Tank is a simple virtual aquarium built with Phaser. It's my first
                app with Phaser and also my first Android app. Fish Tank has helped bootstrap
                potential future games by me using Phaser.
            </p>

            <a href="https://play.google.com/store/apps/details?id=fishtank.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/fishtank" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://github.com/bhdouglass/clickable">
                <img src="/img/screenshots/clickable.png" alt="Clickable" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/clickable">Clickable</a>
            </h3>

            <p>
                Clickable is a replacement for the bulky Ubuntu SDK and provides an
                easy cli interface for building and deploying Ubuntu Touch apps.
                Clickable can take many different types of apps and compiles and packages
                them with a few keystrokes. It has greatly helped me reduce my development
                time on new Ubuntu Touch apps.
            </p>

            <a href="https://github.com/bhdouglass/clickable" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://github.com/bhdouglass/uappexplorer-cli">
                <img src="/img/screenshots/uappexplorer-cli.png" alt="uApp Explorer CLI" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/uappexplorer-cli">uApp Explorer CLI</a>
            </h3>

            <p>
                uApp Explorer CLI is a command line browser for uApp Explorer. It has
                many of the same filtering options available in the website. uApp Explorer
                CLI is built in NodeJS and is packaged as a snap. As it was my first
                experience with packaging snaps I was prompted to write a
                <a href="http://blog.bhdouglass.com/nodejs/snap/2016/08/06/packaging-nodejs-projects-as-snaps.html">tutorial on packaging NodeJs apps as snaps</a>.
            </p>

            <a href="https://uappexplorer.com/app/uappexplorer-cli.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/uappexplorer-cli" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://uappexplorer.com/app/owncloud-files-scope.bhdouglass">
                <img src="/img/screenshots/owncloud-files-scope.png" alt="ownCloud Files Scope" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/app/owncloud-files-scope.bhdouglass">ownCloud Files Scope</a>
            </h3>

            <p>
                The first Ubuntu Touch program to integrate ownCloud access
                into the mobile operating system. The ownCloud Files Scope supports
                browsing files and previewing many file types. This scope is
                written with the NodeJS scopes library.
            </p>

            <a href="https://uappexplorer.com/app/owncloud-files-scope.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/owncloud-files-scope" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="http://rockwork.bhdouglass.com/">
                <img src="/img/screenshots/rockwork.png" alt="Rockwork" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="http://rockwork.bhdouglass.com/">Rockwork</a>
            </h3>

            <p>
                Rockwork is a collaborative effort to support Pebble smartwatches
                on the Ubuntu Touch operating system. It already supports most
                of the features of the official Android and iOS apps plus some
                extras! Rockwork is a daemon written in C++/Qt with a QML client app.
            </p>

            <a href="https://open.uappexplorer.com/app/rockwork.mzanetti">Install</a>
            <a href="https://code.launchpad.net/~mzanetti/rockwork/trunk" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://open.uappexplorer.com/app/falcon.bhdouglass">
                <img src="/img/screenshots/falcon.png" alt="Falcon" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://open.uappexplorer.com/app/falcon.bhdouglass">Falcon</a>
            </h3>

            <p>
                Falcon is the first alternative app launcher for the Ubuntu
                Touch OS. It current supports more customization than the
                built-in launch provides. It was developed in order to give
                users more options for their phones. This scope uses the
                Go Unity Scopes bindings.
            </p>

            <a href="https://open.uappexplorer.com/app/falcon.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/falcon" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://github.com/bhdouglass/angular-slate">
                <img src="/img/screenshots/angular-slate.png" alt="Angular Slate" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/angular-slate">Angular Slate</a>
            </h3>

            <p>
                Angular Slate is a collection of directives that make using
                <a href="https://github.com/pebble/slate">Pebble's Slate</a>
                framework easier in Angular. Pebble configuration pages can be
                simplified by using Angular, this module helps further simplify
                things. Angular Slate comes out of my work on the Simply Light
                watchface.
            </p>

            <a href="https://github.com/bhdouglass/angular-slate" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://github.com/bhdouglass/pebble-helpers">
                <img src="/img/screenshots/pebble-helpers.png" alt="Pebble Helpers" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/pebble-helpers">Pebble C Helpers</a>
            </h3>

            <p>
                A small set of shortcuts and helpful functions for Pebble app
                and watchface developers. At some times Pebble developement can
                feel clunky, this library aims to help reduce that and streamline
                development.
            </p>

            <a href="https://github.com/bhdouglass/pebble-helpers" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://github.com/bhdouglass/pebble-template">
                <img src="/img/screenshots/pebble-template.png" alt="Pebble Template" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/pebble-template">Pebble Template</a>
            </h3>

            <p>
                The Pebble Template is my opinionated take on a seed project for
                quickly bootstraping Pebble development. With this template the
                aim is to reduce time to market for new Pebble watchfaces and apps.
                It also includes a complete configuration generation platform
                to reduce the need to write similar code in the Pebble config page,
                c code, and js code. This feature alone helps reduce development time.
            </p>

            <a href="https://github.com/bhdouglass/pebble-template" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://uappexplorer.com/app/fullcircle.bhdouglass">
                <img src="/img/screenshots/full-circle.png" alt="Full Circle App" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/app/fullcircle.bhdouglass">Full Circle App</a>
            </h3>

            <p>
                A simple way to browse and download all the Full Circle Magazine
                issues. This Ubuntu Touch app is the official Full Circle app
                that has come from a collaboration between myself and the Full
                Circle team. The app is built with QML and JavaScript.
            </p>

            <a href="https://uappexplorer.com/app/fullcircle.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/fullcircle-app" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://www.npmjs.com/package/click-parser">
                <img src="/img/screenshots/click-parser.png" alt="Click Parser Module" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://www.npmjs.com/package/click-parser">Click Parser Module</a>
            </h3>

            <p>
                A NodeJS module and command line tool for extracting information
                from Ubuntu's click package format. This module was created to
                allow code reuse between uApp Explorer and OpenStore.
            </p>

            <a href="https://www.npmjs.com/package/click-parser">Install</a>
            <a href="https://github.com/bhdouglass/click-parser" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://www.npmjs.com/package/weather-man">
                <img src="/img/screenshots/weatherman.png" alt="WeatherMan NodeJS Module" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://www.npmjs.com/package/weather-man">WeatherMan NodeJS Module</a>
            </h3>

            <p>
                A simple library to get the current weather or air quailty from
                multiple different provider in NodeJS or the browser. It was
                born out of a need for a clean, organized way to support varying
                different weather providers for my Simply Light watchface and
                also potential future watchfaces.
            </p>

            <a href="https://www.npmjs.com/package/weather-man">Download</a>
            <a href="https://github.com/bhdouglass/weatherman" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="http://bitcoin.bhdouglass.com/">
                <img src="/img/screenshots/bitcoin-auditor.png" alt="Bitcoin Auditor" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="http://bitcoin.bhdouglass.com/">Bitcoin Auditor</a>
            </h3>

            <p>
                Bitcoin Auditor is my playground for new web technologies. It
                started as an Angular JS app to display information from
                <a href="https://slushpool.com">slushpool.com</a> but became
                a React app as a learning exercise. It is currently a Vue.js
                app, but will probably change in the future as frameworks come
                and go. It provides a straight-forward interface for information
                about Bitcoin mining on slushpool.
            </p>

            <a href="http://bitcoin.bhdouglass.com/">Browse</a>
            <a href="https://github.com/bhdouglass/bitcoin-auditor" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://open.uappexplorer.com/app/indicator-weather.bhdouglass">
                <img src="/img/screenshots/indicator-weather.png" alt="Indicator Weather" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://open.uappexplorer.com/app/indicator-weather.bhdouglass">Indicator Weather</a>
            </h3>

            <p>
                Indicator Weather is the first third-party indicator available for
                Ubuntu Touch. It's designed to give users the weather at a glance on their
                Ubuntu device, but also it can serve as a template for other developers
                wishing to further push the limits of the Ubuntu Touch operating system.
            </p>

            <a href="https://open.uappexplorer.com/app/indicator-weather.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/ut-indicator-weather" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <img src="/img/screenshots/ays-manager.png" alt="AYS Manager" class="center-block img-responsive" />
            <h3 class="text-center">
                AYS Manager
            </h3>

            <p>
                This closed source web app is a fully customized solution for
                tracking day-to-day business needs of AYS, Inc. It is a large
                scale app with an Angular JS frontend and a Python api.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://uappexplorer.com/app/finger-painting.bhdouglass">
                <img src="/img/screenshots/finger-painting.png" alt="Finger Painting App" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/app/finger-painting.bhdouglass">Finger Painting App</a>
            </h3>

            <p>
                This simple, multi-touch painting app was created with children
                in mind. It was born from a desire to see more apps for children
                on the Ubuntu Touch platform. This app is purely QML based.
            </p>

            <a href="https://uappexplorer.com/app/finger-painting.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/finger-painting" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://www.npmjs.com/package/caxton">
                <img src="/img/screenshots/caxton.png" alt="Caxton NodeJS Module" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://www.npmjs.com/package/caxton">Caxton NodeJS Module</a>
            </h3>

            <p>
                The Caxton module is a small wrapper around the
                <a href="https://caxton.herokuapp.com/">Caxton API</a>. It is a
                NodeJS module with a command line interface that was built for
                uApp Explorer.
            </p>

            <a href="https://www.npmjs.com/package/caxton">Install</a>
            <a href="https://github.com/bhdouglass/caxton-nodejs" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://uappexplorer.com/app/uappexplorer-scope.bhdouglass">
                <img src="/img/screenshots/uappexplorer-scope.png" alt="uApp Explorer Scope" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/app/uappexplorer-scope.bhdouglass">uApp Explorer Scope</a>
            </h3>

            <p>
                The uApp Explorer scope is a Go based scope for easy access to
                uApp Explorer from the Ubuntu Touch homescreen. It provides
                many of the same functionalities as the web version, but it is
                only a swipe away.
            </p>

            <a href="https://uappexplorer.com/app/uappexplorer-scope.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/uappexplorer-scope" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://uappexplorer.com/app/uappexplorer.bhdouglass">
                <img src="/img/screenshots/uappexplorer-app.png" alt="uApp Explorer App" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://uappexplorer.com/app/uappexplorer.bhdouglass">uApp Explorer App</a>
            </h3>

            <p>
                This web app wrapper for Ubuntu Touch provides a more integrated
                way for users to browse uApp Explorer on their phones. It pairs
                well with the uApp Explorer scope as it will open any links
                from the scope without needing access to the browser. This app
                is primarily written in QML.
            </p>

            <a href="https://uappexplorer.com/app/uappexplorer.bhdouglass">Install</a>
            <a href="https://github.com/bhdouglass/uappexplorer-app" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="http://rockwork.bhdouglass.com/">
                <img src="/img/screenshots/rockwork-website.png" alt="Rockwork Website" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="http://rockwork.bhdouglass.com/">Rockwork Website</a>
            </h3>

            <p>
                The clean and simple website for the Rockwork Ubuntu Touch app.
                This website provides information about the app as well as
                features, the source, and the community contributions.
            </p>

            <a href="http://rockwork.bhdouglass.com/">Browse</a>
            <!-- TODO push this to github -->
            <!--<a href="" class="pull-right">Source</a>-->
        </div>

        <div class="col-sm-4">
            <a href="/pebble/hazy.html">
                <img src="/img/screenshots/hazy.png" alt="Hazy" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="/pebble/hazy.html">Hazy</a>
            </h3>

            <p>
                Hazy is a great little watchface for checking your local AQI,
                and it works anywhere in the world! It dynamically changes
                colors based on the AQI, giving you important information at a
                quick glance.
            </p>

            <a href="https://apps.getpebble.com/en_US/application/574537f64b706803bc000002">Install</a>
            <a href="https://github.com/bhdouglass/hazy" class="pull-right">Source</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <a href="https://launchpad.net/indicator-remindor">
                <img src="/img/screenshots/indicator-remindor.png" alt="Indicator Remindor" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://launchpad.net/indicator-remindor">Indicator Remindor</a>
            </h3>

            <p>
                Built for people that want more than an alarm clock, the Remindor
                Apps are designed to give the user fully customizable and
                repeatable reminders. The Remindor apps are more than alarm
                clocks because they allow you to express dates and times in
                plain English. These apps were all written in Python for Linux
                desktops.
            </p>

            <a href="https://launchpad.net/indicator-remindor">Install</a>
            <a href="https://code.launchpad.net/~bhdouglass/indicator-remindor/quickly_trunk" class="pull-right">Source</a>
        </div>

        <div class="col-sm-4">
            <a href="https://launchpad.net/indicator-remindor">
                <img src="/img/screenshots/remindor-qt.png" alt="Remindor Qt" class="center-block img-responsive" />
            </a>
            <h3 class="text-center">
                <a href="https://launchpad.net/indicator-remindor">Remindor Qt</a>
            </h3>

            <p>
                Remindor Qt is a cousin to the GTK based Indicator Remindor. It
                supports the same great feature set through a shared common code
                module. This Python based app is geared towards non-GTK based
                Linux desktop environments.
            </p>

            <a href="https://launchpad.net/indicator-remindor">Install</a>
            <a href="https://github.com/bhdouglass/remindor-qt" class="pull-right">Source</a>
        </div>
    </div>
</div>
{% endblock %}
