{% set page = "skills" %}
{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>Skills</h1>
    </div>

    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <i class="fa fa-file-code-o fa-3x"></i>
            <h3>Languages</h3>
            Bash<br/>
            C<br/>
            C++<br/>
            CSS<br/>
            Go<br/>
            HTML<br/>
            Java<br/>
            JavaScript<br/>
            LESS<br/>
            MatLab<br/>
            NodeJS<br/>
            PHP<br/>
            Python<br/>
            QML<br/>
        </div>

        <div class ="col-sm-4 col-xs-6">
            <i class="fa fa-book fa-3x"></i>
            <h3>Libraries</h3>
            <a href="http://angularjs.org/">AngularJS</a><br/>
            <a href="http://getbootstrap.com/">Bootstrap</a><br/>
            <a href="http://doctrine-project.org/">Doctrine</a><br/>
            <a href="http://expressjs.com/">Express JS</a><br/>
            <a href="http://gulpjs.com/">Gulp</a><br/>
            <a href="http://jquery.com/">jQuery</a><br/>
            <a href="http://developer.getpebble.com/">Pebble</a><br/>
            <a href="http://pyside.org/">PySide</a><br/>
            <a href="http://qt-project.org/">Qt</a><br/>
            <a href="https://facebook.github.io/react/">React</a><br/>
            <a href="https://developer.ubuntu.com/en/">Ubuntu Touch</a><br/>
        </div>

        <div class="clearfix visible-xs"></div>
        <div class ="col-sm-4">
            <i class="fa fa-rocket fa-3x"></i>
            <h3>Software</h3>

            <div class="row">
                <div class="col-xs-6 col-sm-12">
                    <a href="http://aws.amazon.com/">Amazon AWS</a><br/>
                    <a href="https://bitbucket.org/">Bitbucket</a><br/>
                    <a href="https://www.getchef.com/">Chef</a><br/>
                    <a href="https://codeship.com/">Codeship</a><br/>
                    <a href="https://www.docker.com/">Docker</a>
                    <a href="http://git-scm.com/">Git</a><br/>
                    <a href="https://github.com">GitHub</a><br/>
                </div>
                <div class="col-xs-6 col-sm-12">
                    <a href="http://www.google.com/adwords/">Google AdWords</a><br/>
                    <a href="https://www.atlassian.com/software/jira">JIRA</a><br/>
                    <a href="https://www.linux.com/">Linux</a><br/>
                    <a href="http://www.mysql.com/">MySQL</a><br/>
                    <a href="http://nginx.org/">Nginx</a><br/>
                    <a href="http://subversion.apache.org/">Subversion</a><br/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
