---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Donate | Brian Douglass">
  <section>
    <p>
      I'm <a href="/">Brian Douglass</a>, a software engineer by day and open source developer by night.
      My development has varied between web, desktop, and more, but my current focus
      is on building awesome things with <a href="https://ubuntu-touch.io/">Ubuntu Touch</a>.
      I'm the lead developer for the <a href="https://open-store.io/">OpenStore</a>,
      an open source app store for Ubuntu Touch. I'm also the lead developer for
      <a href="http://clickable-ut.dev/en/latest/">Clickable</a> an open source tool
      for building and maintaining Ubuntu Touch applications. I've also build several
      <a href="https://open-store.io/?sort=relevance&search=author%3ABrian%20Douglass">apps for Ubuntu Touch</a>.
    </p>

    <p>
      I'm not looking to make tons on money doing this, but I do want to be able
      to work on open source and Ubuntu Touch more than I do now.
      So if you do donate or if you don't I still appreciate your support!
    </p>

    <p>
      You can support me on <a href="https://liberapay.com/bhdouglass/">Liberapay</a>,
      <a href="https://paypal.me/bhdouglass">Paypal</a>, or via Bitcoin: bc1q9cpc2m5ly8e63uvlg33e27td037c892qf382qt .
    </p>
  </section>
</BaseLayout>
