---
import BaseLayout from "../layouts/BaseLayout.astro";
import TextSection from "../components/TextSection.astro";
---

<BaseLayout pageTitle="Pebble | Brian Douglass" title="Pebble" description="Open Source Pebble apps and utilities">
  <TextSection header="Pebble Apps & Libraries" h1={true}>
    <ul>
      <li><a href="https://gitlab.com/bhdouglass/simply-light" class="underline">Simply Light Pebble App</a></li>
      <li><a href="https://gitlab.com/bhdouglass/hazy" class="underline">Hazy Pebble App</a></li>
      <li><a href="https://gitlab.com/bhdouglass/pebble-helpers" class="underline">Pebble Helper Functions</a></li>
      <li><a href="https://gitlab.com/bhdouglass/pebble-template" class="underline">Pebble App Template</a></li>
      <li>
        <a href="https://apps.rebble.io/en_US/developer/5385e6abf60aaf4d9f0000c9/1" class="underline"
          >My Pebble apps on the Rebble app store</a>
      </li>
    </ul>
  </TextSection>
</BaseLayout>
