---
const year = (new Date()).getFullYear();
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Copyright {year} - Brian Douglass
      </div>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Consider <a href="/support/" class="underline">supporting my blog</a>
        if you like what you have read.
      </div>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Built using <a href="https://astro.build/" class="underline">Astro</a>,
        <a href="https://github.com/onwidget/astrowind" class="underline">AstroWind</a>,
        and <a href="https://tailwindcss.com/" class="underline">Tailwind CSS</a> 🚀.
      </div>
    </div>
  </div>
</footer>
