---
const year = new Date().getFullYear();
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:justify-between py-3 md:py-4">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        <p>
          Copyright {year} - <a href="https://douglassdigitalsolutions.com/" class="underline">Brian Douglass</a>
        </p>

        <p>
          Consider <a href="/support/" class="underline">supporting my blog</a>
          if you like what you have read.
        </p>

        <p>
          Built using <a href="https://astro.build/" class="underline">Astro</a>,
          <a href="https://github.com/onwidget/astrowind" class="underline">AstroWind</a>, and <a
            href="https://tailwindcss.com/"
            class="underline">Tailwind CSS</a
          > 🚀.
        </p>
      </div>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400 flex flex-col">
        <span class="text-md font-bold">Code</span>
        <a href="https://gitlab.com/bhdouglass" class="underline">GitLab</a>
        <a href="https://github.com/bhdouglass" class="underline">GitHub</a>
      </div>

      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400 flex flex-col">
        <span class="text-md font-bold">Social Media</span>
        <a href="https://x.com/bhdouglass" class="underline">X</a>
        <!--<a rel="me" href="https://fosstodon.org/@bhdouglass" class="underline">Mastodon</a>-->
        <a href="https://primal.net/p/npub1klcnl76xvmdwtxn0tvknrcxquescdzruwe9yqa5qvq972fdva5ysej7nkx" class="underline">Primal (Nostr)</a>
        <!--<a href="https://bsky.app/profile/bhdouglass.bsky.social" class="underline">Bluesky</a>-->
      </div>
    </div>
  </div>
</footer>
