---
---

<footer class="border-t border-gray-200 dark:border-slate-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Blog posts licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="underline">CC BY-SA 4.0</a>.
        Code licensed under <a href="http://www.gnu.org/licenses/gpl-3.0.html" class="underline">GNU GPL v3</a>.
      </div>
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Built using <a href="https://astro.build/" class="underline">astro</a>,
        <a href="https://github.com/onwidget/astrowind" class="underline">AstroWind</a>,
        and <a href="https://tailwindcss.com/" class="underline">Tailwind CSS</a> 🚀.
      </div>
    </div>
  </div>
</footer>
