---
export type Props = {
  attrib: string;
  link?: string;
};

const { attrib, link } = Astro.props;
---

<span class="not-prose text-sm text-gray-400">
  {
    link ? (
      <a class="underline" rel="noopener noreferrer nofollow" target="_blank" href={link}>
       {attrib}
      </a>
    ) : (
      <>{attrib}</>
    )
  }
</span>
