{% set page = "pebble" %}
{% extends "template.html" %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1>Watchfaces</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-6">
            <a href="/pebble/simply-light.html">
                <img src="/img/simply-light/simply-light2.png" />
            </a>
            <h2>
                <a href="/pebble/simply-light.html">Simply Light</a>
            </h2>
        </div>

        <div class="col-md-6">
            <a href="/pebble/hazy.html">
                <img src="/img/hazy/hazy2.png" />
            </a>
            <h2>
                <a href="/pebble/hazy.html">Hazy</a>
            </h2>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <h1>Libraries</h1>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4">
            <h3>
                <a href="https://github.com/bhdouglass/angular-slate">Angular Slate</a>
            </h3>

            Angular bindings for the <a href="https://github.com/pebble/slate">Pebble Slate</a> framework.
        </div>
        <div class="col-md-4">
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/pebble-helpers">Pebble C Helpers</a>
            </h3>

            Shortcuts and nice things for Pebble developers.
        </div>
        <div class="col-md-4">
            <h3 class="text-center">
                <a href="https://github.com/bhdouglass/pebble-template">Pebble Template</a>
            </h3>

            An opinionated Pebble app template with automatic configuration
            generation.
        </div>
    </div>
</div>
{% endblock %}
