#Really old
Redirect 301 /indicator-remindor.php /remindor/
Redirect 301 /indicator-remindor_screenshots.php /remindor/
Redirect 301 /remindor-qt.php /remindor/

Redirect 301 /indicator-remindor/blog.php http://blog.bhdouglass.com/
Redirect 301 /indicator-remindor/bugs.php https://bugs.launchpad.net/indicator-remindor
Redirect 301 /indicator-remindor/donate.php /remindor/
Redirect 301 /indicator-remindor/faq.php https://answers.launchpad.net/indicator-remindor
Redirect 301 /indicator-remindor/questions.php https://answers.launchpad.net/indicator-remindor
Redirect 301 /indicator-remindor/request.php /remindor/
Redirect 301 /indicator-remindor/rss.php http://blog.bhdouglass.com/rss
Redirect 301 /indicator-remindor/translate.php /remindor/

Redirect 301 /indicator-remindor/index.php /remindor/
Redirect 301 /indicator-remindor/ /remindor/
Redirect 301 /indicator-remindor /remindor/

Redirect 301 /remindor-common/index.php /remindor/
Redirect 301 /remindor-common/ /remindor/
Redirect 301 /remindor-common /remindor/

Redirect 301 /remindor-qt/index.php /remindor/
Redirect 301 /remindor-qt/ /remindor/
Redirect 301 /remindor-qt /remindor/

#Old
Redirect 301 /about/ /
Redirect 301 /portfolio/ /
Redirect 301 /software/ /
Redirect 301 /sources/ /
Redirect 301 /contact/ /

Redirect 301 /remindor/indicator/ /remindor/
Redirect 301 /remindor/qt/ /remindor/
Redirect 301 /remindor/touch/ /remindor/
Redirect 301 /remindor/contribute/ /remindor/

Redirect 301 /static/remindor/ /remindor/manual.html
Redirect 301 /static/remindor/add.html /remindor/manual.html
Redirect 301 /static/remindor/simple.html /remindor/manual.html
Redirect 301 /static/remindor/inserts.html /remindor/manual.html
Redirect 301 /static/remindor/date.html /remindor/manual.html
Redirect 301 /static/remindor/preferences.html /remindor/manual.html
Redirect 301 /static/remindor/time.html /remindor/manual.html
Redirect 301 /static/remindor/services.html /remindor/manual.html
