{% set page = "index" %}
{% extends "template.html" %}

{% block content %}
    <div class="row">
        <div class="p-strip">
            <h1>Brian Douglass</h1>
            <h2>Senior Software Developer @ <a href="https://enerflo.io/">enerflo</a></h2>

            <p class="description">
                I'm a full stack engineer with a keen interest in using software
                to improve peoples lives by solving interesting problems. I've
                developed websites, web apps, apis, mobile apps, and more. I've
                worked in Node.js, Python, PHP, React, Vue.js, C++, Qt, and
                much more. I'm a member of many open source projects and lead
                developer of multiple. I welcome new opportunities to learn,
                <a href="/contact.html">chat with me today</a>!
            </p>
        </div>

        <div class="row">
            <div class="row project">
                <img src="/img/code.svg" alt="Open Source" class="u-float-left" />
                <h3>
                    <a href="https://gitlab.com/bhdouglass">
                        Open Source Engineer
                    </a>
                </h3>
                <p>I live and breath Open Source, find my projects on
                    <a href="https://gitlab.com/bhdouglass">GitLab</a>
                    and <a href="https://github.com/bhdouglass">GitHub</a>.
                </p>
            </div>

            <div class="row project">
                <img src="/img/openstore.svg" alt="OpenStore" class="u-float-left" />
                <h3>
                    <a href="https://open-store.io/">
                        OpenStore Lead Developer
                    </a>
                </h3>
                <p>The official app store for Ubuntu Touch</p>
            </div>

            <div class="row project">
                <img src="/img/clickable.svg" alt="Clickable" class="u-float-left" />
                <h3>
                    <a href="https://clickable-ut.dev/">
                        Clickable Lead Developer
                    </a>
                </h3>
                <p>Command line tool for easy app development</p>
            </div>

            <div class="row project">
                <img src="/img/email.svg" alt="Contact Me" class="u-float-left" />
                <h3>
                    <a href="/contact.html">
                        Contact Me
                    </a>
                </h3>
                <p>I'm always up for a chat or freelance work!</p>
            </div>
        </div>
    </div>
{% endblock %}
