{% set page = "projects" %}
{% extends "template.html" %}

{% block content %}
    <div class="row">
        <div class="p-strip">
            <h1>Projects</h1>

            <h3>
                <a href="https://open-store.io/">
                    OpenStore
                </a>
            </h3>
            <h3>
                <a href="http://clickable.bhdouglass.com/">
                    Clickable
                </a>
            </h3>
            <h3>
                <a href="https://www.npmjs.com/~bhdouglass">
                    NPM Modules
                </a>
            </h3>
            <h3>
                <a href="https://open-store.io/?sort=name&search=author%3ABrian%20Douglass">
                    Ubuntu Touch Apps
                </a>
            </h3>
            <h3>
                More Open Source Projects on
                <a href="https://gitlab.com/bhdouglass">GitLab</a>.
            </h3>
        </div>
    </div>
{% endblock %}
