<!DOCTYPE html>
<html>
    <head lang="en" itemscope itemtype="http://schema.org/WebPage">
        <title>Brian Douglass</title>
        <link rel="shortcut icon" href="/img/favicon.png">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        <meta name="description" content="Software Engineer" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Brian Douglass" />
        <meta itemprop="description" content="Software Engineer" />
        <meta itemprop="image" content="/img/logo.png" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@bhdouglass" />
        <meta name="twitter:title" content="Brian Douglass" />
        <meta name="twitter:description" content="Software Engineer" />
        <meta name="twitter:image:src" content="/img/logo.png" />

        <!-- Open Graph data -->
        <meta property="og:title" content="Brian Douglass" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://bhdouglass.com" />
        <meta property="og:image" content="/img/logo.png" />
        <meta property="og:description" content="Software Engineer" />
        <meta property="og:site_name" content="Brian Douglass" />

        <link rel=stylesheet href="/main.css" />
    </head>

    <body>
        <header id="navigation" class="p-navigation">
            <div class="row p-navigation__row">
                <div class="p-navigation__banner">
                    <div class="p-navigation__logo">
                        <a href="/" class="p-navigation__link">
                            Brian Douglass
                        </a>
                    </div>
                    <a class="p-navigation__toggle--open" href="#navigation" title="Menu">
                        <i class="p-icon--menu"></i>
                    </a>
                    <a class="p-navigation__toggle--close" href="#navigation-closed" title="Close Menu">
                        <i class="p-icon--close"></i>
                    </a>
                </div>
                <nav class="p-navigation__nav" :class="{'u-show': showMenu}" role="menubar">
                    <ul class="p-navigation__links" role="menu">
                        <li class="p-navigation__link {% if page == 'projects' %}is-selected{% endif %}" role="menuitem">
                            <a href="/projects.html">Projects</a>
                        </li>
                        <li class="p-navigation__link" role="menuitem">
                            <a href="https://github.com/search?q=user%3Abhdouglass+user%3AUbuntuOpenStore&type=Repositories">GitHub</a>
                        </li>
                        <li class="p-navigation__link" role="menuitem">
                            <a href="http://blog.bhdouglass.com/">Blog</a>
                        </li>
                        <li class="p-navigation__link {% if page == 'contact' %}is-selected{% endif %}" role="menuitem">
                            <a href="/contact.html">Contact Me</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer class="p-footer">
            <div class="row">
                <nav class="p-footer__nav">
                    <ul class="p-footer__links">
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="/contact.html">Contact me</a>
                        </li>
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="https://stackoverflow.com/cv/bhdouglass">Resume</a>
                        </li>
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="https://github.com/search?q=user%3Abhdouglass+user%3AUbuntuOpenStore&type=Repositories">GitHub</a>
                        </li>
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="https://twitter.com/bhdouglass">Twitter</a>
                        </li>
                        <li class="p-footer__item">
                            <a class="p-footer__link" href="http://www.linkedin.com/pub/brian-douglass/36/8a5/b0">LinkedIn</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </body>
</html>
