---
import TechPostLayout from './TechPostLayout.astro';

const { content } = Astro.props;
---

<TechPostLayout content={content}>
  <div class="mb-4 alert alert-light" role="alert">
    This post is for an older release of Clickable, check out the
    <a href="https://clickable-ut.dev/en/latest/changelog.html">docs</a> for current information.
  </div>
  <slot />
</TechPostLayout>
